.jumbotron{
    height: 100vh;
}
.mainform{
    height: 100vh;
}
html {
    scroll-behavior: smooth;
  }
 /* .vertical-center {
    min-height: 100%;  
    min-height: 100vh; 
  
    display: flex;
    align-items: center;
    justify-content: center;
  } 
   */