.jumbotron{
    height: 100vh;
}
.mainform{
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

.positive{
    color: rgb(9, 99, 9);
}
.negative{
    color: rgb(221, 71, 17);
}

 /* .vertical-center {
    min-height: 100%;  
    min-height: 100vh; 
  
    display: flex;
    align-items: center;
    justify-content: center;
  } 
   */
/* #fullpage {
          height: 100vh;
          overflow: hidden;
        }
#fullpage section { 
    height: 100vh; 
} */